# Backend Environment Variables
MONGO_URL=mongodb://root:rootpassword@mongodb:27017/
DB_NAME=justportal
POSTGRES_URL=postgresql://justapp:justapp123@postgres:5432/justportal
CORS_ORIGINS=http://localhost:3000,http://localhost:80
