aiohttp==3.13.3
APScheduler==3.11.2
beautifulsoup4==4.14.3
dnspython==2.8.0
fastapi==0.110.1
motor==3.3.1
passlib==1.7.4
pillow==12.1.1
pydantic==2.12.5
pymongo==4.5.0
pytesseract==0.3.13
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.22
requests==2.32.5
uvicorn==0.25.0
